<lib-tree-refinery></lib-tree-refinery>
<button (click)="setFilter()">Both Filters</button>
<button (click)="setFilter1()">Filter 1</button>
<button (click)="setFilter2()">Filter 2</button>
<button (click)="clear1()">clear 1</button>
<button (click)="clear2()">clear 2</button>
<button (click)="clear()">Clear all</button>
<lib-the-trees>
  <ng-template #nodeTemplate let-node>
    <ng-container *ngIf="node?.customMeta?.filterMatch">
<!--      {{logger.debug('filter')}}-->
      <svg class="node">
        <circle r="10" cy="10" cx="10" fill="blue" stroke-width="" />
      </svg>
    </ng-container>
    <ng-container *ngIf="!node?.customMeta?.filterMatch">
<!--      {{logger.debug('no filter')}}-->
      <svg class="node-group">
        <circle r="10" cy="10" cx="10" fill="blue" stroke-width="" />
      </svg>
    </ng-container>
  </ng-template>
</lib-the-trees>

