<lib-tree-refinery></lib-tree-refinery>
<button (click)="setFilter()">Click me</button>
<lib-the-trees>
  <ng-template #nodeTemplate [ngIf]="!node?.meta?.filterMatch" let-node>
    <ng-container *ngIf="node?.meta?.filterMatch">
      <svg class="node">
        <circle r="10" cy="10" cx="10" fill="blue" stroke-width="" />
      </svg>
    </ng-container>
    <ng-container *ngIf="!node?.meta?.filterMatch">
      <svg class="node-group">
        <circle r="10" cy="10" cx="10" fill="blue" stroke-width="" />
      </svg>
    </ng-container>
  </ng-template>
</lib-the-trees>

